#header {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #211630;
}

#header .header-img {
	position: absolute;
	height: 40px;
	top: 13px;
	left: 2%;
}

#header .eth-address {
	position: absolute;
	right: 2%;
	top: 7px;
	color: white;
	display: block;
	font-size: 12px;
}