.wallet-ui {
	display: block;
	margin-top: 60px;
}

.modal {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 2;
	left: 0;
}

.blackground {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
}

.modal .main {
	z-index: 3;
	background-color: white;
	position: absolute;
	width: 50%;
	height: 70vh;
	left: 25%;
	top: 15vh;
}

.user-balance-section {
	text-align: center;
	margin-top: 100px;
}

.withdraw-section {
	width: 50%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between
}

.withdraw-section button {
	width: 48%;
	padding: 15px 0;
}

.transfer-section {

}